<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
</head>
<body>
    <h1>Upload Folder for Processing</h1>
    <form action="/upload_folder" method="post" enctype="multipart/form-data">
        <label for="folder_upload">Choose a folder:</label><br>
        <input type="file" id="folder_upload" name="folder_upload" webkitdirectory directory multiple><br><br>
        <input type="submit" value="Upload Folder">
    </form>
</body>
</html>
